.add-image-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #90EE90;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 25px;
  color: white;
  position: relative;
}
