<mat-card style="margin-bottom: 45px">
  <div *ngIf="!isLoading; else loading">
    <div *ngIf="!hasError; else error">
      <mat-paginator
        [length]="fetchedImages.length"
        [pageSize]="imagesPerPage"
        [pageSizeOptions]="pageSizeOptions"
        [hidePageSize]="false"
        [pageIndex]="currentPage"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
      <div class="img-list">
        <div
          class="img-list-item"
          *ngFor="let img of imagesToShow"
          (click)="handleClick(img.id)"
        >
          <img [src]="img.url" [alt]="img.title" />
          <span style="text-align: center"
            >{{ img.title.substring(0, 15) }}...</span
          >
        </div>
      </div>
    </div>
  </div>
</mat-card>

<ng-template #error>
  <div>
    <app-display-error
      style="min-width: 100%"
      [errorMessage]="errorMessage"
      [errorStatus]="errorStatus"
    ></app-display-error>
    <button mat-raised-button color="primary" (click)="retry()">Retry</button>
  </div>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
